<header>
    <h1 class="fw-bold pt-3">Mangakyo</h1>
    <a href="/">Home</a>
    <a href="/category_view">Category</a>
    <a href="/manga_view">Manga</a>
</header>
<div>
   <h3 class="fw-bold">{{title}}</h3> 
   <hr/>
</div>
